@import "@/assets/variables";

.button {
  display: inline-block;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-radius: 20px;
  .font(@font-size: 18px;);
  height: 42px;

  &__log{
    border: 0;
    background: #a90046;
    box-shadow: 0 0 6px 12px rgba(209, 35, 35, 0.47);
    width: 120px;
  }
}