@import "@/assets/fonts";

@color-text: #fff;
@tablet: 420px;

@background-color: #26A5E4;
@default-font: 'Montserrat';

.font(
  @font-family: @default-font;
  @font-weight: 400;
  @font-size: 16px;
) {
  font-family: @font-family;
  font-weight: @font-weight;
  font-size: @font-size;
  font-style: normal;
}